* {
    outline: 1px solid orange;
}

/* BODY */

body {
    background-color: black;
}

/* Nav Bar */

.navigation-bar {
    height: 50px;
    /* width: 50%; */
    /* margin-left: 25%; */
    background-color: transparent; /*rgba(79, 234, 206, 0.7);*/
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-family: 'Caveat';
    /* font-family: 'Montserrat'; */
    /* font-family: 'Permanent Marker', cursive; */
}

li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: auto;
    line-height: 50px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(241, 77, 110);
}

.game-name {
    font-size: 35px;
}

/* Social Icons */

.social-media-block {
    margin-top: 30px;
    height: 5%;
    background-color: transparent;
    /* position: absolute; */
    /* position: relative; */
    text-align: right;
    margin-right: 25%;
}

.social-media-element {
    background-color: transparent;
    /* height: 100px;
    width: 100px; */
    display: inline-block;
    margin-left: 2%;
    /* margin-right: 1%; */
}

.social-icon {
    width: 100%;
    height: 100%;
    color: white;
    transition: all 200ms ease-in-out 0ms;
}

.social-icon:hover {
    color: rgb(65, 144, 231);
    transition: all 200ms ease-in-out 0ms;
}

/* Splash Screen */

.splash-title {
    /* margin-top: 100px; */
    width: 100%;
    height: 80vh; /*40vh;*/
    text-align: center;
    position: relative;
    z-index: 10;
    justify-content: center;
}

.splash-img {
    max-width: 80%;
    position: absolute;
    /* margin-top: 10vh; */
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* margin-top: 10%; */
}

/* Description */

.description {
    background-image: url(media/background.png);
    width: 100%;
    padding-top: 30%;
    height: auto;
    position: relative;
    justify-content: center;
    display: flex;
}

.vid-container {
    width: 60%;
    padding-top: 33.25%;
    height: 0px;
    margin-bottom: 20%;
    top: 40%;
    position: relative;

    outline: 3px solid pink;
}

.vid-trailer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Subscribe */

.subscribe {
    height: 100px;
    color: white;
    font-size: 45px;
    font-family: 'Caveat';
    text-align: center;
}

/* Swirl Animation */

.swirl-anim {
    animation-duration: 5s;
    animation-name: swirl;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes swirl {
    from {
        max-width: 75%;
        transform: translateY(-47%) translateX(-50%) rotate(5deg) skew(-10deg);
    }
    to {
        max-width: 80%;
        transform: translateY(-50%) translateX(-50%) rotate(-5deg) skew(10deg);
    }
}

/* About Description */

.about-description {
    text-align: center;
    width:100%;
    height:400px;
    font-size: 60px;
    font-family: 'Caveat';
    color: white;
    position: absolute;
    transform: translateY(50%);
}